/* ============================ ESTILOS GENERALES =========================== */
.pasiva_efectos_select_style,
.habilidad_efectos_select_style {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-content {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 10;
    width: 250px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
}

.tooltip-container:hover .tooltip-content {
    display: block;
}

/* ============================ DROPS DE IMAGENES =========================== */
.drop-area {
    border-radius: 10px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s;
}

.drop-area.hover {
    border-color: #007bff;
    background-color: #eef6ff;
}

.drop-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.drop-area input[type="file"] {
    display: none;
}

.placeholder-text {
    color: #666;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    max-width: 80%;
}

/* ============================ ESTILOS DE RAZAS =========================== */

/*Estilos de idiomas*/
.selected {
    background-color: green;
}