/* ============================ ESTILOS GENERALES =========================== */
.pasiva_efectos_select_style,
.habilidad_efectos_select_style {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-content {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 10;
    width: 250px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
}

.tooltip-container:hover .tooltip-content {
    display: block;
}

/* ============================ DROPS DE IMAGENES =========================== */
.drop-area {
    border-radius: 10px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s;
}

.drop-area.hover {
    border-color: #007bff;
    background-color: #eef6ff;
}

.drop-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.drop-area input[type="file"] {
    display: none;
}

.placeholder-text {
    color: #666;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    max-width: 80%;
}

/* ============================ ESTILOS COMPARTIDOS =========================== */
/*Estilos de idiomas, habilidades, efectos, pasivas y equipación*/
.selected {
    background-color: var(--color-shadow);
    border: 2px solid var(--color-border);
}

/* ============================ ESTILOS DE CLASES =========================== */
.tarjeta_objeto {
    text-align: center;
    font-weight: bold;
}

#class_items_selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.description_section {

    display: flex;
    flex-direction: column;
    height: 100%;

    #clase_descripcion {
        flex: 1;
        width: 100%;
        height: 200%;
        box-sizing: border-box;
    }
}

.extra_sec_1 {
    align-content: center;
}

.input_mod_atr {
    width: 7%;
}

#clase_dado {
    margin: 2%;;
    width: 10%;
}

.select_class_atr {
    margin-right: 2%;
}

/* ============================ ESTILOS DE RAZAS =========================== */
.div_raza_pasivas {
    padding: 0px;
    margin: 0px;
}

#raza_velocidad_descripción {
    margin-left: 10px;
    font-weight: bold;
}

#pasivas_razas_section {
    padding: 0px;
}


/* ============================ ESTILOS DE EFECTOS =========================== */
#section_last_efectos {
    margin: 0px;
    padding: 0px;
}


/* ============================ ESTILOS DE PASIVAS =========================== */
#form_pasiva {
    border: 1px solid var(--color-border);
    padding: 5px;;
}

#pasiva_efectos_select {
    padding: 0px;
}

.efectos_pasiva_div {
    margin: 0px;
}


/* ============================ ESTILOS DE HABILIDADES =========================== */
#form_habilidad {
    border: 1px solid var(--color-border);
    padding: 5px;;
}

#nombre_habilidad_div {
    margin: 0px;
    padding: 0px;
}

#habilidad_efectos_select {
    margin: 0px;
    padding: 0px;
}