nav {
    display: grid;

    & ul {
        background-color: var(--color-border);
        list-style: none;
        display: flex;
        margin-top: 0px;
        padding-inline: 0px;

        & div {
            margin: 0px;

            & a {
                display: block;
                padding: 1em;
                color: var(--color-background);
                text-decoration: none;
                font-weight: bold;
            }
        }

        & div:hover {
            background-color: var(--color-hover);

            & a {
                color: var(--color-border);
            }
        }


    }

    & ul li:last-child {
        margin-left: auto;
    }

}